@use '../../styles/variables' as v;

#homePage {
    @media(max-width: 992px) {
        padding: 1%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto auto;
    max-width: 60rem;
    width: 100%;
    background-color: v.$color-white;
    
    & h1 {
        text-align: center;
        padding: 30px 400px;
        border-radius: 70px;
        border: 2px solid v.$color-blue-2;
        font-size: 1.8rem;
        margin-bottom: 2rem;
        box-shadow: 1px 0.5px 0.5px v.$color-grey;
        @media(max-width: 992px) {
            padding: 20px 65px;
            margin-bottom: 1rem;
        }
    }

    & #centerPage {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        @media(max-width: 992px) {
            text-align: center;
            flex-direction: column;
        }

        & img {
            z-index: 1;
            border-radius: 500px;
            width: v.$image-size;
            height: v.$image-size;
            @media(max-width: 992px) {
                display: flex;
                width: 100%;
                height: 100%;
            }
        }

        & #textZone {
            z-index: 2;
            position: relative;
            top: 2rem;
            right: 3rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin:20rem 0 5rem 0;
            gap: 2rem;
            width: 50%;
            font-size: 1.2rem;
            color: v.$color-grey;
            text-shadow: 1px 1px 1px v.$color-blue-1;
            @media(max-width: 992px) {
                margin: 0;
                display: flex;
                justify-content: center;
                width: 100%;
                top: -4rem;
                right: auto;
                height: min-content;
            }
        }
    }
}