@use '../../styles/variables' as v;

#memberPage {
    @media(max-width: 992px) {
        padding: 1%;
    }
    margin: 0 auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60rem;
    width: 100%;
    gap: 1.5rem;

    .hiddenTable {
        display: none;
    }

    #topPage {
        display: flex;
        width: 100%;

        #topTable {
            width: 50%;
            text-overflow: ellipsis;
            @media(max-width: 992px) {
                width: 100%;  
            }         
        }
    }
    & .badge {
        border: none;
        text-transform: lowercase;       
        width: 4rem;
        padding: 1px;
        max-width: 4rem;
        display: inline;
    }
    #middleTables {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .editButton {
            display: flex;
            justify-content: center;
            align-items: center;
            & button {
                width: 2.8rem;
                height: 1.3rem;
                background-color: v.$color-blue-2;
                color: v.$color-red;
                padding: 0;
                font-size: 0.8rem;
            }
        }
    }
    #bottomTable {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media(max-width: 992px) {
            flex-direction: column;
            gap: 1.5rem;
        } 
         
        & table {
            width: 48%; 

            @media(max-width: 992px) {
                width: 100%;
            } 
                         
        }
    }

    & h1 {
        border: 2px solid v.$color-blue-2;
        padding: 30px 50px;
        border-radius: 70px;
        font-size: 1.8rem;
        margin-bottom: 2rem;
        box-shadow: 1px 0.5px 0.5px v.$color-grey;

    }

    & table {
        width: 100%;
        display: flex;
        flex-direction: column;

        & thead {
            & tr {
                display: flex;
                flex-direction: row;

                & th {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding-left: 0.5rem;
                    color: v.$color-white;
                    background-color: v.$color-grey;
                    text-align: left;
                    width: 100%;

                    & .createTask {

                        & button {
                            width: 3.6rem;
                            font-size: 10px;
                            background-color: v.$color-white;
                            color: v.$color-grey;
                            font-weight: 900;
                            margin: 3px 3px 3px 0;;
                            padding: 2px 10px;
                        }
                    }
                }
                & .button {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                }
            }
        }

        & tbody { 
    
            & tr {
                display: flex;
                
                & .columnBigSize {
                    width: 75%;
                    text-overflow: ellipsis;

                }
                & .columnMediumSize {
                    width: 50%;
                    text-overflow: ellipsis;

                }
                & .columnSmallSize {
                    width: 25%;
                    text-overflow: ellipsis;

                }
                & .columnSmallSizeGiver {
                    width: 50%;
                    text-overflow: ellipsis;

                }

                & td {
                    width: 100%;
                    padding:0.2rem;
                    color: black;
                    background-color: v.$color-blue-2;
                    overflow: hidden;
                    max-height: 2rem;
                }

                & .task {
                    font-weight: 400;
                    background-color: v.$color-white;
                    border: 1px solid v.$color-blue-2;
                    text-overflow: ellipsis;

                }

                & .lineLink {
                    display: flex;
                    width: 100%;

                    & .columnBigSize {
                        width: 75%;
                    }

                    & .columnSmallSize {
                        width: 25%;
                    }

                    & .task {
                        font-weight: 400;
                        background-color: v.$color-white;
                        border: 1px solid v.$color-blue-2;
                        text-overflow: ellipsis;

                    }
                }
            }
        }
    }

    @media(min-width: 993px) {

        .display {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: v.$color-blue-2;
            border: 0.15rem solid v.$color-grey;
            border-radius: 300px;
            padding: 5%;
            gap: 1rem;
            position: fixed;
            top: -50rem;
            z-index: -1;
            transition: 1500;

            & h2 {
                color: v.$color-grey;
                text-align: center;
            }

            & section {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                width: 100%;

                & div {
                    display: flex;
                    flex-direction: row;
                    margin: 0 2rem;

                    & div {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            & p.title {
                padding-top: 1rem;
            }

            & select {
                padding: 6px;
                    color: v.$color-grey;
                    background-color: v.$color-white;
                    border: 2px solid v.$color-blue-2;
                    border-radius: 5px;
            }

            & button {
                font-size: 14px;
                background-color: v.$color-white;
                color: v.$color-grey;
                margin: 3px 0;
                padding: 2px 15px;
            }
            
        }
        .display.open {
        z-index: 2;
        transition: 1500;
        position: fixed;
        top: 3%;
        right: 33%;
        bottom: content;
        max-height: 97%;
        left: 33%;
        overflow-y: scroll;
        }

        .curtain.open{
            z-index: 1;
                background-color: rgba($color: v.$color-grey, $alpha: 0.3);
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
        }
    }

    @media(max-width: 993px) {

        .display {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: v.$color-blue-2;
            padding: 5%;
            gap: 1rem;
            z-index: -1;
            transition: 1500ms;
            position: fixed;
            top: -50rem;

            & h2 {
                color: v.$color-grey;
                text-align: center;
            }

            & section {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                width: 100%;

                & div {
                    display: flex;
                    flex-direction: row;
                    margin: 0 2rem;

                    & div {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            & p.title {
                padding-top: 1rem;
            }

            & select {
                padding: 6px;
                color: v.$color-grey;
                background-color: v.$color-white;
                border: 2px solid v.$color-blue-2;
                border-radius: 5px;
            }

            & button {
                font-size: 14px;
                background-color: v.$color-white;
                color: v.$color-grey;
                margin: 3px 0;
                padding: 2px 15px;
            }
            
        }
        .display.open {
            z-index: 2;
            transition: 1500ms;
            position: fixed;
            border: 0;
            border-radius: 0;
            top: 12%;
            right: 0%;
            bottom: content;
            max-height: 88%;
            left: 0%;
            overflow-y: scroll;
        }

        .curtain.open{
            z-index: 1;
            background-color: rgba($color: v.$color-grey, $alpha: 0.3);
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    & .actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: 2rem;

        & button[type='click'] {
            color: v.$color-grey;
            background-color: v.$color-blue-2;
            width: 4rem;
            height: 2rem;
            padding: 0;
        }
    }
}